.bc-product-specs {
  display: block;
}

ul.bc-product-specs {
  margin: 0.5em 0;
}

.bc-product-spec {
  margin-bottom: 0.5em;
}

.bc-product-spec__label {
  display: inline-block;
}

.bc-product-spec__value {
  display: inline-block;
  margin-left: 0.35em;
}
