.bc-product-price {
  display: block;
}

.bc-sale-price {
  display: inline-block;
  margin-right: 10px;
}

.bc-current-price {
  display: inline-block;
}

.bc-has-sale-price .bc-current-price {
  text-decoration: line-through;
}
