button {
  padding: 12px 24px;
  border: 0;
  text-align: center;
  background-color: #0D52FF;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
  font-size: 16px;
  font-weight: bold;
  margin-top: 24px;
  width: 100%;
}

button:hover,
button:focus {
  opacity: 0.82;
}

.bcProductQuickView {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.bcProductQuickView_image,
.bcProductQuickView_content {
  flex: 0 1 auto;
  width: 100%;
}

.bcProductQuickView__title {
  display: inline;
  margin-top: 0;
}

.bcProductQuickView__brand {
  display: block;
}

.bcProductQuickView__condition {
  display: inline;
  margin-left: 6px;
}

.bcProductQuickView__sku {
  display: block;
}

.bcProductQuickView__reviewTotal {
  display: block;
}

.bcProductQuickView__price {
  display: block;
  margin: 12px 0 16px;
}

.bcProductQuickView__details {
  flex: 0 0 auto;
  width: 100%;
  padding: 36px 0;
  margin-top: 60px;
  border-top: 1px solid #e0e3e9;
}

.bcProductQuickView__description {
  display: block;
  line-height: 22px;
  font-size: 18px;
}

.bcProductQuickView__reviews {
  border-top: 1px solid #e0e3e9;
  padding-top: 36px;
  padding-bottom: 36px;
  margin-top: 60px;
}

@media (min-width: 768px) {
  .bcProductQuickView_image,
  .bcProductQuickView_content {
    flex: 0 1 auto;
    width: 50%;
  }

  .bcProductQuickView_content {
    padding-left: 30px;
  }
}
