/**************************************************
 * Global Styles
 **************************************************/

body {
  font-family: "Open Sans", sans-serif;
}

/**************************************************
 * Grid Styles
 **************************************************/
.grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.grid-row > * {
  width: calc(25% - 20px);
  margin: 0 10px;
}

/**************************************************
 * Components Styles
 **************************************************/
